<div class="dyn-form-section">
	<h3>{{section.title}}</h3>
	<form
			*ngIf="formGroup"
			[formGroup]="formGroup">
		<ng-container
				*ngFor="let field of section.fields"
		>
			<ng-container
			
					[ngSwitch]="field.type"
			>
				<div
						*ngSwitchCase="FieldTypes.Text"
						class="dyn-field">
					<input type="text" [placeholder]="field.placeholder" [formControlName]="field.propertyName">
				</div>
				<div
						*ngSwitchCase="FieldTypes.Number"
						class="dyn-field">
					<input type="number" [placeholder]="field.placeholder" [formControlName]="field.propertyName">
				</div>
				<div
						*ngSwitchCase="FieldTypes.Color"
						class="dyn-field">
					<input type="color" [placeholder]="field.placeholder" [formControlName]="field.propertyName">
				</div>
			</ng-container>
		</ng-container>
	</form>
</div>
